[submodule "1082 - Algorithms (2347)"]
	path = 1082 - Algorithms (2347)
	url = https://github.com/tomy0000000/NCHU-Algorithms.git
[submodule "1082 - File Processing and I:O Systems"]
	path = 1082 - File Processing and I:O Systems
	url = https://github.com/tomy0000000/NCHU-File-Processing-and-IO-Systems.git
[submodule "1082 - Analysis and Application of Big Data"]
	path = 1082 - Analysis and Application of Big Data
	url = https://github.com/tomy0000000/NCHU-Analysis-and-Application-of-Big-Data.git
