[submodule "1081 - Introduction to Data Compression (3341)"]
	path = 1081 - Introduction to Data Compression (3341)
	url = https://github.com/tomy0000000/NCHU-Introduction-to-Data-Compression.git
[submodule "1081 - Introduction to Reinforcement Learning (4231)"]
	path = 1081 - Introduction to Reinforcement Learning (4231)
	url = https://github.com/tomy0000000/NCHU-Introduction-to-Reinforcement-Learning.git
[submodule "1082 - Algorithms (2347)"]
	path = 1082 - Algorithms (2347)
	url = https://github.com/tomy0000000/NCHU-Algorithms.git
[submodule "1082 - Analysis and Application of Big Data (3195)"]
	path = 1082 - Analysis and Application of Big Data (3195)
	url = https://github.com/tomy0000000/NCHU-Analysis-and-Application-of-Big-Data.git
[submodule "1082 - Assembly Language and System Programming (2351)"]
	path = 1082 - Assembly Language and System Programming (2351)
	url = https://github.com/tomy0000000/NCHU-Assembly-Language-and-System-Programming.git
[submodule "1082 - File Processing and I:O Systems (3110)"]
	path = 1082 - File Processing and I:O Systems (3110)
	url = https://github.com/tomy0000000/NCHU-File-Processing-and-IO-Systems.git
[submodule "1081 - Introduction to Information Retrieval (4228)"]
	path = 1081 - Introduction to Information Retrieval (4228)
	url = https://github.com/tomy0000000/NCHU-Introduction-to-Information-Retrieval.git
[submodule "1082 - Introduction to Database Management System (3360)"]
	path = 1082 - Introduction to Database Management System (3360)
	url = https://github.com/tomy0000000/NCHU-Introduction-to-Database-Management-System.git
[submodule "1091 - Probability (1234)"]
	path = 1091 - Probability (1234)
	url = https://github.com/tomy0000000/NCHU-Probability
[submodule "1091 - Operating Systems (3171)"]
	path = 1091 - Operating Systems (3171)
	url = https://github.com/tomy0000000/NCHU-Operating-Systems
[submodule "1091 - Introduction to Network Security (3313)"]
	path = 1091 - Introduction to Network Security (3313)
	url = https://github.com/tomy0000000/NCHU-Introduction-to-Network-Security
[submodule "1092 - Introduction to Color Science and Applications (3132)"]
	path = 1092 - Introduction to Color Science and Applications (3132)
	url = https://tomy0000000@github.com/tomy0000000/NCHU-Introduction-to-Color-Science-and-Applications
[submodule "1092 - Artificial Intelligent Internet of Things Application and Implementation (3311)"]
	path = 1092 - Artificial Intelligent Internet of Things Application and Implementation (3311)
	url = https://tomy0000000@github.com/tomy0000000/NCHU-Artificial-Intelligent-Internet-of-Things-Application-and-Implementation
